* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
}
ul {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;

  background-color: white;
  margin: 1rem;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.nav-left {
}

.logo {
  background-color: white;
  color: rgb(242, 43, 43);
  font-size: 48px;
  font-weight: bolder;
  padding: 15px 33px;
  margin: 10px;
}

.nav-right {
}
